@model Tarefas


<h1>Detalhes da Tarefa </h1>

Id: @Model.TarefaId
<br />
Nome CLiente: @Model.TarefaName
<br />
Descrição da tarefa: @Model.TarefaDescription
<br />
Data de início: @Model.Data
<br />
Status da Tarefa: @Model.Status